<div id="site-content">
  <div class="site-header">
    <div id="particles-js"></div>
    <div class="container">
      <a routerLink="/home" id="branding">
						<img src="assets/images/custom_logo.png" style="width: 65px;" alt="" class="logo">
						<div class="logo-text">
							<h1 class="site-title">Movies 'n' Chill</h1>
							<small class="site-description">Tagline goes here</small>
						</div>
					</a>
      <!-- #branding -->

      <div class="right-section pull-right">
        <a href="#" class="login-button">Login/Register</a>
      </div>
      <!-- .right-section -->

      <div class="main-navigation">
        <button class="toggle-menu"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item home current-menu-item"><a routerLink="/home"><i class="icon-home"></i></a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'all_movies']">Movies</a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'tv_series']">TV Series</a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'action']">Action</a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'comedy']">Comedy</a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'sports']">Sports</a></li>
          <li class="menu-item"><a [routerLink]="['/list', 'documentaries']">Documentaries</a></li>
        </ul>
        <!-- .menu -->
        <div class="search-form">
          <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="searchType">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="'movie'"> Movies
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="'tv'"> TV Series
            </label>
          </div>
          <label><img src="assets/images/icon-search.png"></label>
          <input type="text" placeholder="Search..." (input)="searchOptions($event)" #search>
          <div ngbDropdown class="d-inline-block dropDwn" #dropDown="ngbDropdown">
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" id="searchDropdown" class="customScroll">
              <li class="dropdown-item" *ngFor="let sval of searchValue" [routerLink]="['/movie', sval.MovieID]" (click)="search.value='';"
                [attr.search-value]="sval.MovieID">{{sval.MovieID}}</li>
            </div>
          </div>
        </div>
        <!-- .search-form -->

        <div class="mobile-navigation"></div>
        <!-- .mobile-navigation -->
      </div>
      <!-- .main-navigation -->
    </div>
    <!-- .container -->
  </div>
  <!-- .site-header -->
  <router-outlet></router-outlet>
  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Information</h3>
            <ul class="no-bullet">
              <li><a href="#">Site map</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <!-- .widget -->
        </div>
        <!-- column -->
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">My Account</h3>
            <ul class="no-bullet">
              <li><a href="#">Login/Register</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>

          <!-- .widget -->
        </div>
        <!-- column -->
        <div class="col-md-2">

          <!-- .widget -->
        </div>
        <!-- column -->
        <div class="col-md-6">
          <div class="widget">
            <h3 class="widget-title">Join our newsletter</h3>
            <form action="#" class="newsletter-form">
              <input type="text" placeholder="Enter your email...">
              <input type="submit" value="Subsribe">
            </form>
          </div>
          <!-- .widget -->
        </div>
        <!-- column -->
      </div>
      <!-- .row -->

      <div class="colophon">
        <div class="copy">Copyright © 2017 Movies 'n' Chill. All rights reserved.</div>
        <div class="social-links square">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
        <!-- .social-links -->
      </div>
      <!-- .colophon -->
    </div>
    <!-- .container -->
  </div>
  <!-- .site-footer -->

</div>



<!-- Movie / Tv Plot Modal -->
<template ngbModalContainer></template>
