<div class="breadcrumbs">
  <div class="container">
    <a routerLink="/home">Home</a>
    <span>{{genre}}</span>
  </div>
</div>
<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="filter-bar">
        <div class="filter">
          <span>
									<label>Sort by:</label>
									<select name="#">
										<option value="#">Popularity</option>
										<option value="#">Highest Rating</option>
									</select>
								</span>
          <span>
									<label>Genre</label>
									<select name="#">
										<option value="#">Show All</option>
										<option value="#">Action</option>
										<option value="#">Racing</option>
										<option value="#">Strategy</option>
									</select>
								</span>
          <span>
									<label>Show:</label>
									<select name="#">
										<option value="#">8</option>
										<option value="#">16</option>
										<option value="#">24</option>
									</select>
								</span>
        </div>
        <!-- .filter -->
        <div class="pagination">
          <ngb-pagination [collectionSize]="80" [pageSize]="8"  [maxSize]="5" aria-label="Default pagination"></ngb-pagination>
        </div>
        <!-- .pagination -->
      </div>
      <!-- .filter-bar -->

      <div class="product-list">
        <div *ngFor="let movie of movies" class="product">
          <div class="inner-product">
            <div class="figure-image">
              <a href="single.html"><img src="assets/images/ww.jpg" alt="Game 1"></a>
            </div>
            <h3 class="product-title"><a href="#">{{movie.title}}</a></h3>
            <small class="price"><ngb-rating [(rate)]="movie.rating" [readonly]="true"></ngb-rating></small>
            <a href="#" class="button muted">Read Details</a>
          </div>
        </div>
        <!-- .product -->
      </div>
      <div class="pagination-bar">
        <div class="pagination">
          <ngb-pagination [collectionSize]="80" [pageSize]="8"  [maxSize]="5" aria-label="Default pagination"></ngb-pagination>
        </div>
        <!-- .pagination -->
      </div>
    </div>
  </div>

  <!-- .container -->
</main>
<!-- .main-content -->
