<div class="breadcrumbs">
  <div class="container">
    <a routerLink="/home">Home</a>
    <span>{{genre}}</span>
  </div>
</div>
<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="filter-bar">
        <div class="filter">
          <span>
									<label>Sort by:</label>
									<select name="#">
										<option value="#">Popularity</option>
										<option value="#">Highest Rating</option>
									</select>
								</span>
          <span>
									<label>Genre</label>
									<select name="#">
										<option value="#">Show All</option>
										<option value="#">Action</option>
										<option value="#">Racing</option>
										<option value="#">Strategy</option>
									</select>
								</span>
          <span>
									<label>Show:</label>
									<select name="#">
										<option value="#">8</option>
										<option value="#">16</option>
										<option value="#">24</option>
									</select>
								</span>
        </div>
        <!-- .filter -->
        <div class="pagination">
          <ngb-pagination [collectionSize]="80" [pageSize]="8" [maxSize]="5" aria-label="Default pagination"></ngb-pagination>
        </div>
        <!-- .pagination -->
      </div>
      <!-- .filter-bar -->

      <div class="product-list">
        <div *ngFor="let tile of tiles" class="product">
          <div class="inner-product">
            <div class="figure-image">
              <div *ngIf="genre=='TV Series'; then tv else movie"></div>
              <ng-template #tv><a [routerLink]="['/series', tile.MovieID]"><img src="{{tile?.image}}" onError="this.src='assets/images/placeholder.png';" alt="Game 1"></a></ng-template>
              <ng-template #movie><a [routerLink]="['/movie', tile.MovieID]"><img src="{{tile?.image}}" onError="this.src='assets/images/placeholder.png';" alt="Game 1"></a></ng-template>
            </div>
            <h3 class="product-title">
              <div *ngIf="genre=='TV Series'; then tv1 else movie1"></div>
              <ng-template #tv1><a [routerLink]="['/series', tile.MovieID]">{{tile.MovieID}}</a></ng-template>
              <ng-template #movie1><a [routerLink]="['/movie', tile.MovieID]">{{tile.MovieID}}</a></ng-template>
            </h3>

            <small class="price">
              <ng-template #t let-fill="fill">
                    <span *ngIf="fill === 100" class="star full">★</span>
                    <span *ngIf="fill === 0" class="star">★</span>
                    <span *ngIf="fill < 100 && fill > 0" class="star">
                      <span class="half" [style.width.%]="fill">★</span>★
                    </span>
              </ng-template>   
              <ngb-rating [(rate)]="tile.Rating.Rating" [starTemplate]="t" [readonly]="true"></ngb-rating>
            </small>
            <div *ngIf="genre=='TV Series'; then tv2 else movie2"></div>
            <ng-template #tv2><a class="button muted">Read Details</a></ng-template>
            <ng-template #movie2><a class="button muted" (click)='readMovieDetails(tile.MovieID)'>Read Details</a></ng-template>
          </div>
        </div>
        <!-- .product -->
      </div>
      <div class="pagination-bar">
        <div class="pagination">
          <ngb-pagination [collectionSize]="80" [pageSize]="8" [maxSize]="5" aria-label="Default pagination"></ngb-pagination>
        </div>
        <!-- .pagination -->
      </div>
    </div>
  </div>

  <!-- .container -->
</main>
<!-- .main-content -->
